/*index.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Un ejemplo usando Catppuccin */
/*body {*/
/*  @layer bg-mocha-base;*/
/*  @layer text-mocha-text;*/
/*}*/

#root {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #1e1e2e;
  margin: 0;
  padding: 0;
  height: 100%;
}
